@{
    ViewData["Title"] = "Administración de Doctores"; // Título de la pestaña del navegador
    Layout = "~/Views/Shared/_Layout.cshtml"; // Indica usar tu layout principal
}

<header>
    <h1 class="mb-0 text-center">Administración de doctores Hospital Johnson</h1>
</header>

<div class="container py-4">
    <div class="row justify-content-center" id="doctor-list"></div>
</div>

@section Scripts {
    <script src="~/js/doctores.js"></script>
}