@{
    ViewData["Title"] = "Agendar Cita";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Indica que usará tu layout principal
}

@section Styles {
    <link rel="stylesheet" href="~/css/styles.css" /> @* Asegúrate de que esta ruta sea correcta si styles.css no está en _Layout *@
}

<h1 class="mb-0 text-center ">Agenda tu cita en Hospital Johnson</h1>
<main class="container mb-3 d-grid gap-4">
    <select class="form-select" aria-label="Default select example">
        <option selected>Especialidad</option>
        <option value="1">Anestesiología</option>
        <option value="2">Cardiología</option>
        <option value="3">Pediatría</option>
        <option value="4">Cirujano</option>
        <option value="5">Neurología</option>
        <option value="6">Ortopedia</option>
        <option value="7">Urología</option>
        <option value="8">Psiquiatría</option>
    </select>

    <input type="date" id="fecha" name="fecha" class="form-control">

    <input type="time" id="hora" name="hora" class="form-control">

    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Motivo">

    <button type="submit" class="btn btn-primary w-auto mx-auto">Agendar Cita</button>
</main>

@section Scripts {
    <script src="~/js/scripts.js"></script> @* Si scripts.js contiene lógica específica para agendar cita *@
    <script>
        // Si necesitas alguna lógica JS que se ejecute al cargar AgendarCita.cshtml
        document.addEventListener('DOMContentLoaded', function() {
            console.log('Página de Agendar Cita cargada.');
        });
    </script>
}